# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Local development
node_modules/
